const cardListType = [{
  cardName: `My Card`,
  cardId: `card-id`,
  variation: [], //
  type: `standard`, // special/tshirt to add more type check in src/app/pages/List.js
  customStyle:``,
  colors: {
    bg: `#fee`,
    font: `#333`,
    border: `#333`,
  }]

export {
  cardListType,
}

export default cardListType
